/* Global Selector */
*{
    /* CSS Resetting */
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    margin-top: 51px;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
   justify-content: center;
   align-items: center;
   background-image: url(https://www.vecteezy.com/vector-art/7164537-fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept);
}

h1,label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  Id Selector */
#login{
    color: blue; 
}
form{
    height: 400px;
    width: 400px;
    border: 2px solid black;
}
/*  Class Selector */
.form-input{
    margin: 62px 0px 0px 0px;
}

button:hover {
    opacity: 0.8;
  }