/* Global Selector */
*{
    /* CSS Resetting */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1,label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
    border-color: black;
    padding: 3px 4px 1px 5px;
}

/*  Id Selector */
#login{
    color: white; 
}
form{
    height: 300px;
    width: 300px;
    border: 2px ;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.322)
    
    
}
/*  Class Selector */
.form-input{
    margin: 40px 0px 0px 0px;
}

button:hover {
    opacity: 0.8;
   
}
/* End Login */

/* Navbar */

.nav{
    display: flex;
    justify-content: space-between;
}
.nav > div {
    padding:15px;
}

.nav > div > ul{
    display:flex;
    gap:35px
}


/* End Navbar */