/* Global Selector */
*{
    /* CSS Resetting */
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    background-color: aqua;
    margin-top: 33px;
   
}

h1,label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  Id Selector */
#login{
    color: blue;
}

/*  Class Selector */
.form-input{
    padding: 10px 20px;
    box-shadow: 0px 0px 3px 0px black;
}

button:hover {
    opacity: 0.8;
  }