/* Global Selector */
*{
    /* CSS Resetting */
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    margin-top: 24px;
}
body{
    display: flex;
    height: 100vh;
    width: 100%;
   justify-content: center;
   align-items: center;
   background-image: url(https://img.freepik.com/free-vector/geometric-gradient-futuristic-background_23-2149116406.jpg);
   background-repeat: no-repeat;
   background-size: cover;

}

h1,label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  Id Selector */
#login{
    color: blue; 
}
form{
    height: 300px;
    width: 300px;
    border: 2px ;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.418)
    
}
/*  Class Selector */
.form-input{
    margin: 40px 0px 0px 0px;
}

button:hover {
    opacity: 0.8;border: 1px;
  }