:root{
    --primary : rgb(204, 94, 94);
}


/* Global Selector */
*{
    /* CSS Resetting */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style: none;
}

h1,label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button{
    border-color: black;
    padding: 3px 4px 1px 5px;
}

/*  Id Selector */
#login{
    color: white; 
}
/* form{ 
    height: 300px;
    width: 300px;
    border: 2px ;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.322)
    
    
 } */

.main{
    color:white
}
/*  Class Selector */
.form-input{
    margin: 40px 0px 0px 0px;
}

button:hover {
    opacity: 0.8;
}
/* End Login */

/* Navbar */

.nav{
    display: flex;
    justify-content: space-between;
    background-color:var(--primary);
}
.nav > div {
    padding:15px;
}

.nav > div > ul {
    display:flex;
    gap:40px;
}
.nav > div > ul > li:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    color:white
}

/* End Navbar */


/* Main */
input{
    padding: 2px 31px 0px 22px;
    margin-left: -169px;
}
.content{
    display: flex;
    justify-content: center;
    color: black;
    margin-top: 93px;
    font-size: 25px;
}

.img {
    height: 256px;
    width: 514px;
    margin-left: 86px;
}
form{
    margin-top: 109px;
    display: flex;
    justify-content: center;
    gap: 190px;
    font-size: 25px;
}
/* End Main */

